:host {
  display: block;
  width: 100%;
}

.producto-card {
  background: white;
  border-radius: 15px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  
  /* ALTURA FIJA PARA TODAS LAS TARJETAS */
  height: 160px; 
  box-sizing: border-box;
  transition: transform 0.2s ease;
}

.producto-card:hover {
  transform: translateY(-3px);
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-right: 10px;
}

.nombre {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 0 4px 0;
  color: #222;
}

.descripcion {
  font-size: 0.8rem;
  color: #666;
  margin: 0;
  /* Cortamos el texto si es muy largo para no romper la tarjeta */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.precio-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.precio {
  font-weight: 800;
  font-size: 1rem;
  color: #333;
}
.selector-tarjeta {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-circular {
    width: 30px;
    height: 30px;
    background: white;
    border: 1.5px solid #f39200; /* Naranja corporativo */
    border-radius: 50%;
    color: #f39200;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: all 0.2s ease;
}

.btn-circular:hover {
    background: #f39200;
    color: white;
}

.cantidad-texto {
    font-weight: 800;
    color: #222;
    font-size: 1.1rem;
    min-width: 15px;
    text-align: center;
}


/* CONTENEDOR DE IMAGEN */
.img-container {
  width: 110px;
  height: 85px;
  flex-shrink: 0; /* Evita que la imagen se achique */
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Cambia a 'cover' si quieres que llene todo el cuadro */
  border-radius: 10px;
} 