<div class="login-screen">
    <div class="login-box">
        <div class="header-login">
            <img src="https://res.cloudinary.com/dp9u7piam/image/upload/v1779177115/Nombre-Arqueado_Logo_azxqlw.png" alt="Logo" class="logo">
            <h1>{{ 'LOGIN.TITULO' | translate }}</h1>
            <p>{{ 'LOGIN.SUBTITULO' | translate }}</p>
        </div>
        <form (ngSubmit)="onLogin()">
            <div class="input-group">
                <label for="login-email">{{ 'LOGIN.EMAIL' | translate }}</label>
                <input id="login-email" type="email" [(ngModel)]="email" name="email" autocomplete="email" [class.input-error]="emailError" placeholder="correo@ejemplo.com">
                <span class="error-text" *ngIf="emailError">{{ emailError | translate }}</span>
            </div>
            <div class="input-group">
                <label for="login-password">{{ 'LOGIN.PASSWORD' | translate }}</label>
                <input id="login-password" type="password" [(ngModel)]="password" name="password" autocomplete="current-password" [class.input-error]="passwordError" placeholder="********">
                <span class="error-text" *ngIf="passwordError">{{ passwordError | translate }}</span>
            </div>
            <button type="submit" class="btn-login">{{ 'LOGIN.BTN' | translate }}</button>
            <p class="footer-text">
                {{ 'LOGIN.SIN_CUENTA' | translate }}
                <span class="link" routerLink="/registro">{{ 'LOGIN.REGISTRATE' | translate }}</span>
            </p>
        </form>
    </div>
</div>
