<div class="login-screen">
    <div class="login-box">
        <div class="header-login">
            <img src="assets/Nombre-Arqueado+Logo.webp" alt="Logo" class="logo">
            <h1>{{ 'REGISTRO.TITULO' | translate }}</h1>
            <p>{{ 'REGISTRO.SUBTITULO' | translate }}</p>
        </div>
        <form (submit)="onRegister()">
            <div class="input-row">
                <div class="input-group">
                    <label>{{ 'REGISTRO.NOMBRE' | translate }}</label>
                    <input type="text" [(ngModel)]="usuario.nombre" name="nombre" [class.input-error]="errores.nombre">
                    <span class="error-text" *ngIf="errores.nombre">{{ errores.nombre }}</span>
                </div>
                <div class="input-group">
                    <label>{{ 'REGISTRO.APELLIDOS' | translate }}</label>
                    <input type="text" [(ngModel)]="usuario.apellidos" name="apellidos" [class.input-error]="errores.apellidos">
                    <span class="error-text" *ngIf="errores.apellidos">{{ errores.apellidos }}</span>
                </div>
            </div>
            <div class="input-group">
                <label>{{ 'REGISTRO.TELEFONO' | translate }}</label>
                <input type="text" [(ngModel)]="usuario.telefono" name="telefono" placeholder="Ej: 600123456" [class.input-error]="errores.telefono">
                <span class="error-text" *ngIf="errores.telefono">{{ errores.telefono }}</span>
            </div>
            <div class="input-group">
                <label>{{ 'REGISTRO.EMAIL' | translate }}</label>
                <input type="email" [(ngModel)]="usuario.email" name="email" placeholder="correo@ejemplo.com" [class.input-error]="errores.email">
                <span class="error-text" *ngIf="errores.email">{{ errores.email }}</span>
            </div>
            <div class="input-group">
                <label>{{ 'REGISTRO.PASSWORD' | translate }}</label>
                <input type="password" [(ngModel)]="usuario.password" name="password" [placeholder]="'REGISTRO.PASSWORD_PLACEHOLDER' | translate" [class.input-error]="errores.password">
                <span class="error-text" *ngIf="errores.password">{{ errores.password }}</span>
            </div>
            <button type="submit" class="btn-login">{{ 'REGISTRO.BTN' | translate }}</button>
            <p class="footer-text">
                {{ 'REGISTRO.YA_CUENTA' | translate }} <span class="link" routerLink="/login">{{ 'REGISTRO.INICIA' | translate }}</span>
            </p>
        </form>
    </div>
</div>
