<div class="login-screen">
    <div class="login-box">
        <div class="header-login">
            <img src="logo.png" alt="Logo" class="logo">
            <h1>Crea tu cuenta</h1>
            <p>Completa tus datos para empezar</p>
        </div>

        <form (submit)="onRegister()">
            <!-- FILA NOMBRE Y APELLIDOS -->
            <div class="input-row">
                <div class="input-group">
                    <label>Nombre</label>
                    <input type="text" [(ngModel)]="usuario.nombre" name="nombre" [class.input-error]="errores.nombre">
                    <span class="error-text" *ngIf="errores.nombre">{{ errores.nombre }}</span>
                </div>
                <div class="input-group">
                    <label>Apellidos</label>
                    <input type="text" [(ngModel)]="usuario.apellidos" name="apellidos"
                        [class.input-error]="errores.apellidos">
                    <span class="error-text" *ngIf="errores.apellidos">{{ errores.apellidos }}</span>
                </div>
            </div>

            <!-- TELÉFONO -->
            <div class="input-group">
                <label>Teléfono</label>
                <input type="text" [(ngModel)]="usuario.telefono" name="telefono" placeholder="Ej: 600123456"
                    [class.input-error]="errores.telefono">
                <span class="error-text" *ngIf="errores.telefono">{{ errores.telefono }}</span>
            </div>

            <!-- EMAIL -->
            <div class="input-group">
                <label>Email</label>
                <input type="email" [(ngModel)]="usuario.email" name="email" placeholder="correo@ejemplo.com"
                    [class.input-error]="errores.email">
                <span class="error-text" *ngIf="errores.email">{{ errores.email }}</span>
            </div>

            <!-- CONTRASEÑA -->
            <div class="input-group">
                <label>Contraseña</label>
                <input type="password" [(ngModel)]="usuario.password" name="password" placeholder="Mín. 6 caracteres"
                    [class.input-error]="errores.password">
                <span class="error-text" *ngIf="errores.password">{{ errores.password }}</span>
            </div>

            <button type="submit" class="btn-login">Registrarse</button>

            <p class="footer-text">
                ¿Ya tienes cuenta? <span class="link" routerLink="/login">Inicia sesión</span>
            </p>
        </form>
    </div>
</div>