<div class="privacidad-wrapper">
  <div class="privacidad-card">
    <h1>{{ 'PRIVACIDAD_PAGE.TITULO' | translate }}</h1>
    <p class="fecha">{{ 'PRIVACIDAD_PAGE.FECHA' | translate }}</p>

    <h2>{{ 'PRIVACIDAD_PAGE.S1_T' | translate }}</h2>
    <p [innerHTML]="'PRIVACIDAD_PAGE.S1_P' | translate"></p>

    <h2>{{ 'PRIVACIDAD_PAGE.S2_T' | translate }}</h2>
    <ul>
      <li>{{ 'PRIVACIDAD_PAGE.S2_L1' | translate }}</li>
      <li>{{ 'PRIVACIDAD_PAGE.S2_L2' | translate }}</li>
      <li>{{ 'PRIVACIDAD_PAGE.S2_L3' | translate }}</li>
      <li>{{ 'PRIVACIDAD_PAGE.S2_L4' | translate }}</li>
    </ul>

    <h2>{{ 'PRIVACIDAD_PAGE.S3_T' | translate }}</h2>
    <ul>
      <li>{{ 'PRIVACIDAD_PAGE.S3_L1' | translate }}</li>
      <li>{{ 'PRIVACIDAD_PAGE.S3_L2' | translate }}</li>
      <li>{{ 'PRIVACIDAD_PAGE.S3_L3' | translate }}</li>
      <li>{{ 'PRIVACIDAD_PAGE.S3_L4' | translate }}</li>
    </ul>

    <h2>{{ 'PRIVACIDAD_PAGE.S4_T' | translate }}</h2>
    <p>{{ 'PRIVACIDAD_PAGE.S4_P' | translate }}</p>

    <h2>{{ 'PRIVACIDAD_PAGE.S5_T' | translate }}</h2>
    <ul>
      <li [innerHTML]="'PRIVACIDAD_PAGE.S5_L1' | translate"></li>
      <li [innerHTML]="'PRIVACIDAD_PAGE.S5_L2' | translate"></li>
      <li [innerHTML]="'PRIVACIDAD_PAGE.S5_L3' | translate"></li>
    </ul>

    <h2>{{ 'PRIVACIDAD_PAGE.S6_T' | translate }}</h2>
    <p>{{ 'PRIVACIDAD_PAGE.S6_P' | translate }}</p>
    <ul>
      <li [innerHTML]="'PRIVACIDAD_PAGE.S6_L1' | translate"></li>
      <li [innerHTML]="'PRIVACIDAD_PAGE.S6_L2' | translate"></li>
    </ul>
    <p>{{ 'PRIVACIDAD_PAGE.S6_P2' | translate }}</p>

    <h2>{{ 'PRIVACIDAD_PAGE.S7_T' | translate }}</h2>
    <p>{{ 'PRIVACIDAD_PAGE.S7_P' | translate }}</p>
    <ul>
      <li [innerHTML]="'PRIVACIDAD_PAGE.S7_L1' | translate"></li>
      <li [innerHTML]="'PRIVACIDAD_PAGE.S7_L2' | translate"></li>
      <li [innerHTML]="'PRIVACIDAD_PAGE.S7_L3' | translate"></li>
      <li [innerHTML]="'PRIVACIDAD_PAGE.S7_L4' | translate"></li>
      <li [innerHTML]="'PRIVACIDAD_PAGE.S7_L5' | translate"></li>
    </ul>
    <p>{{ 'PRIVACIDAD_PAGE.S7_P2' | translate }}</p>

    <h2>{{ 'PRIVACIDAD_PAGE.S8_T' | translate }}</h2>
    <p>{{ 'PRIVACIDAD_PAGE.S8_P' | translate }}</p>

    <h2>{{ 'PRIVACIDAD_PAGE.S9_T' | translate }}</h2>
    <p>{{ 'PRIVACIDAD_PAGE.S9_P' | translate }}</p>
  </div>
</div>
