<header>
    <!-- Franja Superior (Promos, Ubicación y Carrito) -->
    <div class="top-header">
      <div class="container flex-row">
        <div class="promo">
          🌟 Obtén un 5% de descuento en tu primer pedido, <span class="orange-text">Promo: ORDER5</span>
        </div>
      </div>
    </div>
  
    <!-- Franja de Navegación -->
    <nav class="main-nav">
      <div class="container flex-row">
        <div class="logo">
          <img src="assets/logo.webp" alt="Illo Logo">
        </div>
        <ul class="nav-links">
          <li class="active">Inicio</li>
          <li>Ofertas Especiales</li>
          <li>Carta</li>
          <li>Tu pedido</li>
        </ul>
        <div class="auth-btn">
          <button class="login-pill">
            <span routerLink="/login" class="user-icon">👤  </span> Iniciar sesión
          </button>
        </div>
        
        <div class="cart-box">
          <div class="cart-icon-container">
            <img class="carrito" src="assets/carrito.webp" alt="Cart">
          </div>
        </div>
      </div>
    </nav>
  </header>