<nav class="main-nav">
  <div class="container flex-row">

    <a routerLink="/restaurantes" class="logo">
      <img src="assets/LogoFondoTransparente.webp" alt="Illo Logo">
    </a>

    <ul class="nav-links">
      <!-- Inicio: exact: true para que solo sea naranja en la home -->
      <li routerLink="/restaurantes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</li>

      <!-- Carta: Se pondrá naranja automáticamente al entrar en /carta -->
      <li routerLink="/carta" routerLinkActive="active">Carta</li>

      <!-- Tu pedido -->
      <li routerLink="/tu-pedido" routerLinkActive="active">Tu pedido</li>
    </ul>

    <div class="auth-container">
      <button class="login-pill" routerLink="/login">Iniciar sesión</button>
      <button class="btn-register" routerLink="/registro">Registrarse</button>
    </div>
  </div>
</nav>