<nav class="main-nav">
  <div class="container flex-row">

    <a routerLink="/restaurantes" class="logo">
      <img src="assets/LogoFondoTransparente.webp" alt="Illo Logo">
    </a>

    <ul class="nav-links">
      <li routerLink="/restaurantes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</li>
      <li routerLink="/carta" routerLinkActive="active">Carta</li>

      <!-- Sección con la nueva función -->
      <li (click)="comprobarPedido()" 
          style="cursor: pointer;"
          [class.active]="router.url === '/tu-pedido'">
          Tu pedido
      </li>
    </ul>

    <div class="auth-container">
      <button class="login-pill" routerLink="/login">Iniciar sesión</button>
      <button class="btn-register" routerLink="/registro">Registrarse</button>
    </div>
  </div>
</nav>